/* createlog.css */

/* Styles for the card container */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  backdrop-filter: blur(10px);
}

/* Styles for the card */
.card {
  background-color: rgba(249, 249, 249, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  opacity: 0.8
}

/* Styles for the form inside the card */
.dynamic-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* Add some space at the top of the form */
}

/* Styles for the input fields */
.dynamic-form select,
.dynamic-form input[type="submit"] {
  padding: 10px;
  margin-bottom: 10px; /* Add margin between each field */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Add padding within each field container */
.dynamic-form div {
  padding: 10px;
}

/* Hover effect for input fields */
.dynamic-form select:hover,
.dynamic-form input[type="submit"]:hover {
  border-color: #999;
}

body {
    background-image: url('../images/createlogbg.jpg');
    background-position: center;
}

.logname {
    height: 35px;
    margin-bottom: 15px; /* Add padding between the "Log Name" field and the next field */
}
