body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}
h2 {
    background-color: #f2f2f2; /* Background color for the heading */
    padding: 10px 20px; /* Add padding to the heading */
}
h3 {
    background-color: #f2f2f2; /* Background color for the fields */
    padding: 10px 20px; /* Add padding to the fields */
    margin-top: 20px; /* Add margin between fields */
}
p {
    color: #666;
    padding: 10px 20px; /* Add padding to the paragraphs */
}

header {
    background-color: #2c3e50; /* Dark blue background */
    color: #fff;
    padding: 10px 30px; /* Adjusted padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Adding position relative to enable positioning of pseudo-element */
    margin-bottom: 50px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -20px;
    width: 100%;
}

/* Creating a pseudo-element for the reflection */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none; /* Ensures the pseudo-element doesn't interfere with mouse events */
}

.logo {
    width: 50px; /* Adjusted width */
    height: 50px; /* Adjusted height */
    border-radius: 50%; /* Make the logo circular */
    overflow: hidden; /* Ensure the logo maintains circular shape */
}

.logo img {
    display: block; /* Ensure the image behaves like a block element */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the circular area */
}

.navbar {
    display: flex;
    align-items: center; /* Align items vertically in the flex container */
}

.navbar h1 {
    margin: 0; /* Reset margin */
    padding-left: 10px; /* Add padding between logo and name */
}

nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700; /* Change to your desired hover color */
}
