<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Log</title>
<link rel="stylesheet" href="https://kit.fontawesome.com/824866e4e5.js" crossorigin="anonymous">
<link rel="stylesheet" href="../static/styles/createlog.css">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
        <h1> LogIt</h1>
    </div>
    <nav>
        <a href="#" id="home-link">Home</a>
        <a href="#">About</a>
        <a href="#">Contacts</a>
    </nav>
</header>
<div class="card-container">
  <div class="card">
    <h2>Create Log</h2>
    <form class="dynamic-form" method="POST">
      <input type='text' class='logname' name='Log Name' size='10' placeholder="Enter Log Name" required/>
      <label for="field-type">Choose field type:</label>
      <select class="field-type">
        <option value="Text">Text</option>
        <!-- Add more options as needed -->
      </select>
      <button type="button" class="add-button"><i class="fas fa-plus"></i></button> <!-- Plus icon for add button -->
      <br><br>
      <input id="submitBtn" type="submit" value="Submit">
    </form>
  </div>
</div>

<script src="https://kit.fontawesome.com/824866e4e5.js" crossorigin="anonymous"></script>
<script src="../static/scripts/createlog.js"></script>
<script src="../static/scripts/nav.js"></script>
</body>
</html>
