<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/styles/logs.css">
</head>
<body>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
        <h1> LogIt</h1>
    </div>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contacts</a>
    </nav>
</header>

<div class="content">
    <div class="sidebar">
        <ul>
            <li><a href="#" id="create-log-link">Create Log</a></li>
            <li><a href="#">Show Log</a></li>
            <li><a href="#">Update Log</a></li>
            <li><a href="#">Delete Log</a></li>
        </ul>
    </div>

    <div class="logs">
        <div id="logs-container" class="center-text">
            <!-- Logs will be dynamically inserted here -->
        </div>
    </div>
</div>

<script src="../static/scripts/log.js"></script>
</body>
</html>
