<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Log</title>
    <link rel="stylesheet" href="../static/styles/log_entry.css"> <!-- Linking to external CSS file -->
    <script src="https://cdn.tiny.cloud/1/ynyzq4mfwis4h02efj3cjjr55votsjk5kdjlz2c9zi6cvljc/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
        <h1> LogIt</h1>
    </div>
    <nav>
        <a href="#" id="home-link">Home</a>
        <a href="#">About</a>
        <a href="#">Contacts</a>
    </nav>
</header>
<div class="content">
    <div class="sidebar">
        <!-- Sidebar content goes here -->
    </div>
    <div class="logs">
        <h2>Make Log Entry</h2>
        <form method="POST">
            {% for field in log_fields %}
            <label for="{{ field }}">{{ field }}:</label>
            <textarea id="{{ field }}" name="{{ field }}" rows="4"></textarea><br>
            {% endfor %}
            <input type="submit" value="Submit" id="submitBtn">
        </form>
    </div>
</div>
<script src="../../static/scripts/nav.js"></script>
<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    height: 200,
  });
</script>
</body>
</html>
