<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Log</title>
    <link rel="stylesheet" href="../static/styles/log_entry.css"> <!-- Linking to external CSS file -->
</head>
<body>

<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
        <h1> LogIt</h1>
    </div>
    <nav>
        <a href="#" id="home-link">Home</a>
        <a href="#">About</a>
        <a href="#">Contacts</a>
    </nav>
</header>

<div class="content">
    <div class="sidebar">
        <!-- Sidebar content goes here -->
    </div>
    <div class="logs">
        <h2>Make Log Entry</h2>
        <form method="post">
            {% for field in log_fields %}
            <label for="{{ field }}">{{ field }}:</label>
            <textarea id="{{ field }}" name="{{ field }}" rows="4" required></textarea><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<script src="../../static/scripts/nav.js"></script>
</body>
</html>
