<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href="../../static/styles/show_log.css"/>
<title>View Logs</title>
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <img src="../../static/images/logo.png" alt="Logo">
        </div>
        <h1> LogIt</h1>
    </div>
    <nav>
        <a href="#" id="home-link">Home</a>
        <a href="#">About</a>
        <a href="#">Contacts</a>
    </nav>
</header>


<h2>{{ log_name }}</h2>

<table>
  <thead>
    <tr>
      {% for field in log_fields %}
      <th>{{ field }}</th>
      {% endfor %}
    </tr>
  </thead>
<tbody>
    {% for row in content %}
    <tr onclick="redirectToPage('{{ log_name }}', '{{ row.id }}');" onmousemove="showTooltip(event);"> <!-- Modify to pass log name and ID -->
      {% for value in row %}
      <td>{{ value | safe }}</td> <!-- Apply safe filter to render HTML content -->
      {% endfor %}
      <td><span class="tooltip">Click to open log</span></td> <!-- Add tooltip -->
    </tr>
    {% endfor %}
</tbody>
</table>

<script src="../../static/scripts/show_log.js"></script>
<script src="../../static/scripts/nav.js"></script>
</body>
</html>
